html {
    font-size: 62.5%;
    /* 62.5% of 16px is 10px which is 1rem */
    min-height: 100%;
    line-height: 1.4;
}

body {
    background-color: $color-white;
    font-family: 'Open Sans', sans-serif;
}