#feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;

    // desktop size media queries at 1100px
    @media screen and (min-width: 1100px) {
        flex-direction: row;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
}

#featureImage {
    width: 80%;

    // tablet size media queries at 700px
    @media screen and (min-width: 700px) {
        width: 37.1rem;
        height: 28.1rem;
    }

}

#featureText {

    // desktop size media queries at 1100px
    @media screen and (min-width: 1100px) {
        width: 58%;
    }

    h2 {
        font-size: $header5;
        font-weight: bold;
        letter-spacing: 0.63px;
        text-align: center;
        margin-top: 0.9rem;

        // desktop size media queries at 1100px
        @media screen and (min-width: 1100px) {
            text-align: left;
            font-size: $header2;
        }

    }

    p {
        font-size: 1.2rem;
        letter-spacing: 0.33px;
        width: 80%;
        display: block;
        margin: 0.9rem auto;

        // tablet size media queries at 700px
        @media screen and (min-width: 700px) {
            width: 48%;
        }

        // desktop size media queries at 1100px
        @media screen and (min-width: 1100px) {
            font-size: 1.6rem;
            margin: 10px 0;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: #3380ff;
        font-size: 1.2rem;
        letter-spacing: 0.33px;
        width: 80%;
        display: block;
        margin: 0.9rem auto;

        // tablet size media queries at 700px
        @media screen and (min-width: 700px) {
            width: 48%;
        }

        &::after {
            content: "";
            display: block;
            width: 40%;
            padding-top: 6px;
            border-bottom: $link_underline;

            // tablet size media queries at 700px
            @media screen and (min-width: 700px) {
                width: 33%;
            }

            // desktop size media queries at 1100px
            @media screen and (min-width: 1100px) {
                width: 43.5%;
            }
        }

        // desktop size media queries at 1100px
        @media screen and (min-width: 1100px) {
            font-size: 1.6rem;
            margin: 10px 0;
        }
    }
}